PORT=3000
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.urbbcziklxmbexwutafo
DB_PASSWORD=
DB_NAME=postgres
DB_SSL=true
JWT_SECRET=ayudas_sociales_dev_secret
ADMIN_USER=admin
ADMIN_PASSWORD=admin123
